.code {
  font-family: "Lucida Console", Monaco, monospace;
}

.uncovered {
  color:red;
}

.covered {
  color:green;
}

.total-coverage {
  font-size: 2em;
}

.irrelevant {}

table.file-list {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px solid;
  font-size: 1.2em;
}

td.file-name, th.file-name {
  text-align: left;
}

td a, td a:visited {
  text-decoration: none;
  color: #07A;
}

tr.stripe {
  background-color: #F5F5EC;
}

div.report-container {
  width: 60%;
  margin: 0 20%;
}

.file-info div {
  display: inline-block;
  margin-bottom: 1em;
  padding-right: 2em;
}

div.line-numbers {
  display: inline-block;
  margin-right: 1em;
}

div.file-lines {
  display: inline-block;
}
